/* Screen resolution: Full HD (1920x1080)*/

body {
    font: 100% Tahoma;
    background-color: #333;
    color: #eee;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 250px;
    z-index: 500000;
    background: #333;
    text-align: right;
    font-size: 125%;
    padding: 10px 20px;
}

#screens {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    display: block;
}


.left {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
}

.top-left {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 50%;
    left: 0;
    text-align: center;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 50%;
}

.bottom-left {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 0;
    left: 0;
}

.bottom-right {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
}

.light {
    background-color: #555;
}

.dark {
    background-color: #333;
}

.project-name {
    margin-top: 10%;
    font-size: 600%;
}
.broken-since {
    font-size: 180%;
}

.change {
    position: absolute;
    top: 10%;
    font-size: 200%;
    text-align: center;
}

.blame-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    width: 500px;
    height: 500px;

    margin: auto;
}

.left, .right, top-left, .top-right, .bottom-left, .bottom-right {
    text-align: center;
}

.info-container {
    padding-top: 15%;
}

.left .number {
    font-size: 2400%;
}

.left .text {
    font-size: 250%;
}

.top-right .number,
.bottom-right .number {
    font-size: 800%;
}
.top-right .text,
.bottom-right .text {
    font-size: 190%;
}

#blame-popup {
    position: fixed;
    right: 0;
    bottom: -80px;
    left: 0;
    text-align: center;
    background-color: red;
    color: #fff;
    padding: 20px;
    z-index: 100000;
    font-size: 140%;

    -webkit-transition: bottom .3s;
    transition: bottom .3s;
}

#blame-popup.animate {
    bottom: 0;
}

