/* Screen resolution: Full HD (1920x1080)*/

body {
    font: 100% Tahoma;
    background-color: #333;
    color: #eee;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 140%;
}


header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 250px;
    z-index: 500000;
    background: #333;
    text-align: right;
    font-size: 125%;
    padding: 10px;
}

#screens {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/** Screen */

.top-left {
    background-color: #555;
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 50%;
    left: 0;
    text-align: center;
}

.project-name {
    margin-top: 10%;
    font-size: 600%;
}
.broken-since {
    font-size: 180%;
}

.top-right {
    background-color: #555;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 50%;
}

.bottom-left {
    background-color: #333;
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 0;
    left: 0;
}

.bottom-right {
    background-color: #333;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
}

.change {
    position: absolute;
    top: 10%;
    font-size: 200%;
    text-align: center;
}

.blame-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    width: 500px;
    height: 500px;

    margin: auto;
}


.screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    display: block;
}

.left, .right, .right-top, .right-bottom {
    text-align: center;
}

.left {
    background-color: #555;
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
}

.right-top {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
}

.right-bottom {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}

.info-container {
    padding-top: 15%;
}

.left .number {
    font-size: 2400%;
}
.left .text {
    font-size: 250%;
}

.right-top .number,
.right-bottom .number {
    font-size: 800%;
}
.right-top .text,
.right-bottom .text {
    font-size: 190%;
}

/** Broken build alert */

#blame-popup {
    position: fixed;
    right: 0;
    bottom: -80px;
    left: 0;
    text-align: center;
    background-color: red;
    color: #fff;
    padding: 20px;
    z-index: 100000;
    font-size: 140%;

    -webkit-transition: bottom .3s;
    transition: bottom .3s;
}

#blame-popup.animate {
    bottom: 0;
}



